@charset "utf-8";
/* CSS Document */
@charset "utf-8";
/* CSS Document */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
    margin-bottom: 0.5rem;
    font-weight: 500;
    line-height: 1.2;
}
b, strong {
    font-weight: bolder;
}
div {
	display: block;
}
body {
	background-color:#F0F0F0;
}
.white-bg {
	background: white;
}
div {
	display: block;
}
.clear {
	clear: both;
}
/*header*/
.start-bg {
	background: #FFA17F;
     background:linear-gradient(to right, #8B5742, #FFA17F );
}
.container {
	margin-left: 5%;
	margin-right: 5%;
}
.header .logo {
	width: 200px;
	height: 100px;
	float:left;
}
.header .logo .logo-img {
	width: 100%;
	height: 100%;
}


/*navbar*/
.header .navbar {
	width: 200px;
	height: 100px;
	float:right;
}
.button-navbar {
	background:#37E35B;
	border-radius: 10px;
	padding: 10px;
}
/*Dropdown*/
.dropbtn {
  background-color:#E8E8E8;
  color: black;
  padding: 16px;
  font-size: 16px;
  border:none;
  cursor: pointer;
  border-radius : 30px;
  width :400px;
  text-align: left;
}

.dropdown {
  position: relative;
  display: inline-block;
	margin: 20px;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: white;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  width : 400px;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color:#E8E8E8 ;
}
/*Shopping cart*/
.header .navbar .shopping-cart {
	width: 50%;
	height: 100%;
	float:left;
	display: flex;
	align-items: center;
	justify-content: center;
}
.navbar .container-s-c {
	width: 60px;
	height: 40px;
	margin-left: auto;
	margin-right: auto;
	position: relative;
}
.header .navbar .shopping-cart-main {
	background-color: #22D02B;
	height: 40px;
	width: 60px;
	margin: 0;
	border-radius: 5px;
}
.header .navbar .shopping-cart-img {
	height: 20px;
	width: 20px;
	margin-top: 10px;
	margin-bottom: 10px;
	margin-left: 20px;
	margin-right: 20px;
}
.quantity {
	position: absolute;
    top: -10px;
    left: -14px;
    height: 20px;
    border-radius: 10px;
    line-height: 18px;
    letter-spacing: normal;
    padding: 0 6px;
    border: 1px solid #00b14f;
    background-color: #fff;
    color: #00b14f;
    text-align: center;
    font-size: 12px;
}
/*Login*/
.login {
	width: 50%;
	height: 100%;
	float:right;
	display: flex;
	align-items: center;
	justify-content: center;
}
.login a {
	text-decoration: none;
	color : white;
	font-weight: 700;
	font-size: 17px;
}
.login a:hover {
	color:blue;
}
/*Nav*/
.sticky {
  position: relative; 
}
.sticky {
  z-index: 150;
}
.sticky-scrolled {
  position: fixed;
  width: 100%;
  top: 0;
	background-color: #1e3446;
}
.sticky-scrolled li a {
	color: white!important;
}
.header .nav {
}
.nav .ul-nav {
	float:right;
	margin: 20px;
}
.nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.nav li {
  float: left;
}
.button-nav {
	background: #EFAC3E;
	border-radius: 10px;
}
.nav li a {
  display: inline-block;
	color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.nav a:hover {
  color: blue;
}
/*Main content*/
.main-content {
	width: 100%!important;
	height: 100%!important;
}
/*Sidebar*/
.sidebar {
	width: 15%;
	float:left;
}
/*Sidebar-left*/
.sidebar-left {
	width: 100%;
	height: 100%;
}
.sidebar-left .entry-1 {
	width: 100%;
	height: 200px;
	background-image: url("../image/bg-1.jpg");
	margin-top:10px;
}
.sidebar-left .entry-2 {
	width: 100%;
	height: 200px;
	background-image: url("../image/bg-2.jpg");
	margin-top:10px;
}
.sidebar-left .entry-3 {
	width: 100%;
	height: 200px;

	background-image: url("../image/bg-3.jpg");
	margin-top:10px;
}

/*Sidebar-right*/
.sidebar-right {
	
}
.entry-item {
	width: 100%;
}
.dong_ho {
	width: 100%;
}
.dong_ho h2{
     position: relative;
     display:block;
     color: #F1237C;
     text-align: center;
     margin:10px 0;
     font-weight: 700;
     text-transform: uppercase;
 }
.dong_ho .thoi_gian{
	width: 100%;
     display:flex;
 }
.dong_ho .thoi_gian div{
     position: relative;
     margin: 0 3px;
 }
.thoi_gian-item {
	width: 33%;
	float: left;
}
.dong_ho .thoi_gian div span{
     position: relative;
     display:block;
     background: #2196f3;
     color: #fff;
     font-weight: 300;
     display:flex;
     justify-content: center;
     align-items: center;
     font-size: 15px;
     z-index:3;
     box-shadow: 0 0 0 1px rgba(0,0,0,0.2);
 }
.dong_ho .thoi_gian span:nth-child(2){
     height: 25px;
     font-size: 10px;
     z-index: 2;
     box-shadow: none;
     background:#127fd6;
     text-transform: uppercase;
 }
/*content*/
.content {
	width: 68%;
	min-height: 600px;
	margin-left: 1%;
	margin-right: 1%;
	margin-bottom: 5px;
	padding: 0.5%;
	float: left;
}
/*Product*/
.id-menu {
}
.menu-name {
}
.menu-name h3 {
	font-weight: 700;
}
.row {
	width: 100%;
	height: 100%
}
.main-product {
	width: 100%;
	height: 100%;
}
.card {
	width: 100%;
	height: 100%;
	position: relative;
    min-width: 0;
}
.sold-out-main {
	width: 100%;
    height:100%;
	background: rgba(0,0,0,.3);
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	
}
.sold-out-container {
	display: flex;
    justify-content: center;
    align-items: center;
    width: 15rem;
    border: 3px solid #f15c60;
    border-radius: 10px;
    color: #f15c60;
    font-size: 20px;
    transform: rotate(5deg) translateY(15px);
}
.sold-out {
	font-size: 1.5em;
    font-weight: 700;
}
.card-body {
	width: 100%;
	height: 100%;
}
.product-item {
	font-weight: 400;
    width: 31%;
	float:left;
	margin: 1%;
	height: 150px;
}
.main-img-product {
	margin: 5px;
    width: 40%;
	float: left;
}
.product-image {
	width: 100px;
    height: 100px;
    border-radius: 5px;
	margin: 15px;
}
.product-image img {
	border-radius: 0.25rem;
	height: 100%!important;
	width: 100%!important;
	
}
.main-product-deltals {
	width: 50%;
	float: right;
	margin-top: 10px!important;
}
.main-product-deltals .product-name {
	max-height: 60px!important;
	margin-top: 10px;
	margin-bottom: 5px;
}
.title {
}
.title h5 {
	font-size: 17px;
	font-weight: 700;
    color:black;
	margin-bottom: 5px;
	margin-right: 5px;
}
.text-nowrap {
	white-space: nowrap;
	font-size: 12px;
	margin-right: 5px;
}
.product-price {
	align-items: center;
	justify-content: space-between;
	display: flex;
	max-height: 20px!important;
	margin:5px 0 10px;
}
.money {
	font-weight: 700;
	padding-top: 0.5rem;
	margin: 0;
	font-size: 18px;
	align-items: center;
	justify-content: flex-start;
	display: flex;
}
.button-btn-cart {
	margin-bottom: 10px!important;
	margin-top: 5px;
	max-height: 20px;
}
.btn-cart {
  background:#87F8B7;
  border-radius: 5px;
  color:black;
  font-weight: 500;
}
.btn-cart:hover {
  background:#58F5BD;
}

/*Real time*/
.real-time {
	margin-top: 100px;
	padding: 5px;
	max-width: 80%;
	position: relative;
	background-image:url("../image/wood.png");
	margin: 100px auto;
	display: flex;
	flex-direction:column;
	border: solid 5px #C7C7C7;
	box-shadow: 0 2px 3px rgba(0,0,0,.4);
}
.real-time .open {
	margin:20px 0;
	display: flex;
    justify-content: center;
    align-items: center;
}
.real-time .open .sign {
	top: 10px;
	min-width: 100px;
	padding: 12px 8px;
	position: relative;
	filter: drop-shadow(-2px 4px 10px rgba(0,0,0,0.5));
	background-color: #21c159;
	border: solid 4px #fff;
	border-radius: 8px;
	text-shadow: -0.5px -0.9px 1px rgb(0 0 0 / 20%);
	font-family: Arial,sans-serif;
    font-size: 30px;
    font-weight: 700;
    line-height: 26px;
    text-align: center;
	color: aliceblue;
}
.real-time .open .sign div {
	position: absolute;
	width: 90px;
    height: 30px;
    left: 50%;
    top: -30px;
	transform: translateX(-50%);
}
.real-time .open .sign svg {
	fill: #fff;
    width: 90px;
    height: 30px;
}
.real-time .open .sign span {
    text-transform: uppercase;
}
.real-time .real-time-button {
	position: relative;
    color: #fff;
    font-size: 20px;
    line-height: 26px;
    text-align: center;
    margin-bottom: 10px;
}
.real-time .real-time-button h3 {
	font-weight: 400;
    font-family: "Open Sans",sans-serif;
	text-align: center;
}
.real-time .real-time-button .button-container {
	display: flex;
    justify-content:center;
    align-items: center;
}
.real-time .real-time-button .button-container .r-t-button {
	background-color: #df733c;
	border-radius: 3px;
	box-shadow: 0 3px #c96836;
	color: #fff;
	max-width: 40%;
	margin-left: 20%;
	margin-top:5%;
}
.real-time .real-time-button .button-container .r-t-button a {
	text-decoration: none;
	color :white;
	margin:0 5px;
}
.real-time .real-time-button .button-container .real-time-arrow {
	display: block;
	margin:0 10px;
}
.real-time .real-time-button .button-container .real-time-arrow svg {
	width: 110px;
    height: 65px;
    fill: #fff;
}
/*contact*/
.contact {
	width: 60%;
	padding: 30px;
	background-color: #fff;
    border: 1px solid #dedede;
    box-shadow: 0 0 20px rgb(0 0 0 / 10%);
	margin:10% 20%;
}
.contact h2 {
    text-align: center;
    font-size: 28px;
	color: #4d4d4d;
	font-weight: 400;
	margin: 0 0 20px 0;
}
.contact .entry {
	margin-bottom: 20px;
}
.entry svg {
	width: 20px;
	height: 25px;
	fill: #cccbc8;
    margin-right: 15px;
} 
/*information*/
.information {
	width: 80%;
	padding: 30px;
	background-color: #fff;
    border: 1px solid #dedede;
    box-shadow: 0 0 20px rgb(0 0 0 / 10%);
	margin:5% 10%;
}
.information h2 {
    text-align: center;
    font-size: 28px;
	color: #4d4d4d;
	font-weight: 400;
	margin: 0 0 20px 0;
}
.information hr {
	display: block;
    margin: 30px auto;
    width: 80px;
    height: 3px;
    background-color: #df733c;
    border: none;
}
.information .info-container p {
	text-align: center;
}

/*Form register*/
.form-register {
	display: flex;
	align-items: center;
	justify-content: center;
}
/*Form login*/
.form-login {
	display: flex;
	align-items: center;
	justify-content: center;
}
.form-login a {
	text-decoration: none;
	color: black;
}
/*footer*/
footer {
	background-color: #1e3446;
	margin: 100px 0 0;
    padding: 10px 50px;
}
footer .footer-link .footer-nav {
	float:right;
	margin: 20px;
}
footer .footer-link ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

footer .footer-link li {
  float: left;
}

footer li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

footer .footer-link a:hover {
  color: blue;
}
footer .footer-partner {
	opacity: .3;
    margin: auto;
	max-width: 1300px;
}
footer .footer-partner .first-div {
	border-bottom: 1px solid #fff;
}
footer .footer-partner .last-div {
	color: #fff;
    text-align: center;
    margin: 20px 0;
    font-size: 14px;
}
footer .footer-partner .last-div .last-of-div {
    margin: 5px;
    font-size: 13px;
}
footer .footer-button .footer-button-container .entry {
	display: inline-block;
}
footer .footer-button {
	display: flex;
    justify-content:center;
    align-items: center;
}
footer .footer-button .footer-button-container .entry svg{
	width: 20px;
	height: 25px;
	fill: #cccbc8;
    margin-right: 15px;
}








